
header {
    width: 100%;
}    
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        text-decoration: none;

}
        a {
            background-color: @main-bg; 
            display: flex; 
            flex-wrap: wrap;
            align-items: flex-end;
            text-decoration: none; 
            color: @font-color;
            justify-content: flex-end;

    }