h1 {
    font-family: 'Indie Flower', sans-serif; 
    
}

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
        a {
            background-color: darkgray; 
            display: flex; 
            flex-wrap: wrap;
            align-items: flex-end;
    }